<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item: </title>
</head>
<body>
<table>
  <tr>
    <th>Item name</th>
    <th>Description</th>
    <th>Price (per hour)</th>
  </tr>
  <tr>
    <td>{{item.name}}</td>
    <td>{{item['description']}}</td>
    <td>{{item.price_hour}}</td>
  </tr>
</table>
<form action="/contracts" method="post">
  <input type="date" name="start_date">
  <input type="date" name="end_date">
  <input type="hidden" name="item_id" value=" {{item_id}} ">
  <input type="submit">
</form>

<form action="/items/{{item_id}}/delete" method="post">

</form>
</body>
</html>